<%- include("partials/header") %>
<main id="content" class="container">
  <a href="/">Back</a>

  <hr />
  <div class="">
    <div class="row">
      <div class="col-md">
        <h1 id="scan-results">Scan Results</h1>
      </div>
      <div class="col-md">
        <p><%= scan.dateCreated %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Versions</h3>
    </div>
  </div>
  <section class="row">
    <div class="col-sm">
      <p>
        <span>Ruby:</span>
        <span class="badge badge-pill badge-primary">
          <%= scan.scan_info.ruby_version %>
        </span>
      </p>
      <p>
        <span>Rails:</span>
        <span class="badge badge-pill badge-primary">
          <%= scan.scan_info.rails_version %>
        </span>
      </p>
      <p>
        <span>Brakeman:</span>
        <span class="badge badge-pill badge-primary">
          <%= scan.scan_info.brakeman_version %>
        </span>
      </p>
    </div>
    <div class="container col-sm">
      <div class="row">
        <p>Security Warnings</p>
      </div>
      <div id="securityWarningsChart" class="row"></div>
    </div>
  </section>

  <div class="mb-4">
    <span class="badge badge-pill badge-primary">
      <span>Controllers</span>
      <span class="badge badge-pill">
        <%= scan.scan_info.number_of_controllers %>
      </span>
    </span>
    <span class="badge badge-pill badge-primary">
      <span>Models</span>
      <span class="badge badge-pill">
        <%= scan.scan_info.number_of_models %>
      </span>
    </span>
    <span class="badge badge-pill badge-primary">
      <span>Templates</span>
      <span class="badge badge-pill">
        <%= scan.scan_info.number_of_templates %>
      </span>
    </span>
  </div>

  <section>
    <tr>
      <td>Checks</td>
      <td>
        <% scan.scan_info.checks_performed.forEach(element => { %>
        <span class="badge badge-pill badge-secondary">
          <%= element %>
        </span>
        <% }) %>
      </td>
    </tr>
  </section>
  <section>
    <h2 class="mb-2 mt-4">Files</h2>
    <ul>
      <% Object.keys(fileWarnings).forEach((fileName, fileI) => { %>
      <% const filenameId = fileName.replace(/[^a-zA-Z0-9]/g, '') + fileI %>
        <li>
          <a href="#<%= filenameId %>"><%= fileName %></a>
        </li>
      <% }) %>
    </ul>
    <div>
      <% Object.entries(fileWarnings).forEach(([fileName, warnings], fileI) => { %>
      <% const filenameId = fileName.replace(/[^a-zA-Z0-9]/g, '') + fileI %>
      <div class="pt-4 pb-4">
        <h3 id="<%= filenameId %>" class="mb-4"><%= fileName %></h3>
        <h4>Warnings</h4>
        <% warnings.forEach((warning, warningI) => { %>
        <% const warningId = `${filenameId}_${warning.message.replace(/[^a-zA-Z0-9]/g, '')}_${warningI}`; %>
        <% const confidenceClasses = 'badge badge-pill badge-' + (warning.confidence === 'Weak' ? 'light' : warning.confidence === 'Medium' ? 'warning' : 'danger') %>
        <div class="card mb-4">
          <div id="<%= warningId %>" class="card-header">
            <h4 class="mb-0 d-flex justify-content-between">
              <div>
                <button class="btn btn-link text-left" type="button" data-toggle="collapse"
                  data-target="#<%= warningId %>_collapse" aria-expanded="true"
                  aria-controls="<%= warningId %>_collapse">
                  <span class="mr-2"><%= warning.warning_type %></span>
                </button>
                <a class="btn btn-link <%= confidenceClasses %>" href="https://brakemanscanner.org/docs/confidence/"
                  target="_blank"><%= warning.confidence %></a>
              </div>
              <a class="btn btn-link text-right" href="<%= warning.link %>" target="_blank">More Info</a>
            </h4>
          </div>
          <div id="<%= warningId %>_collapse" class="collapse show" aria-labelledby="<%= warningId %>">
            <div class="card-body">
              <pre>
                <code class="language-ruby" style="white-space: pre-wrap;"><%= warning.code?.trim().replace(/\\n/g, '\n') %></code>
              </pre>
              <blockquote><%= warning.message %></blockquote>
            </div>
          </div>
        </div>
        <% }); %>
        <a class="d-block text-right" href="#scan-results">Back to top</a>
      </div>
      <% }); %>
    </div>
  </section>
  <div class="d-none" aria-hidden>
    <span id="securityWarningsCount"><%= scan.scan_info.security_warnings %></span>
  </div>
</main>
<script src="/scan.js"></script>

<!-- highlight.js -->
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<%- include("partials/footer") %>